body {
  background-color: #ffffff;
  color: #222222;
  font-family: sans-serif;

}
.welcome-box {
    padding-top: 65px;
  	padding-bottom: 65px;
  	text-align: center;
  	background-color: #f7f7f7;
  	border-style: groove;
    width: 500px;
    margin: 0 auto;

}
